* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; }
h1, h6, p {
  margin: 10px 5px;
}
h1 { font-size: 1.8em;
  text-align:center;
}
h2{
 font-size: 5px;
}
h4{
 margin-left: 15%;
 font-size:3px;
 text-align: left;
}
h5{
float:left;
}
div{
 text-align: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #58666e;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2000;
  background-color: #326A73 ;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.logo {
  display: inline-block;
  height: 36px;
  margin: 12px 0 12px 25px;
}
.logo > img { height: 36px; }
nav {
  float: right;
}
.nav-items {
  margin-right: 20px;
}
.nav-items > li {
  display: inline-block; 
  color: white;
   /* 가로정렬 */
}
.nav-items > li > a {
  line-height: 84px;
  padding: 0 8px;
  color: white;
}
.nav-items > li > a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.nav-items >li > a.nav-active{
  color:rgba(0, 0, 0, 0.8);
  }

#main {
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 3fr 0.7fr;     /*contents와 side의 비율*/
}

#banner{
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  min-height: 1000px;
  min-height:200px;
  background-color: orange;
}

#main #contents {
  padding: 20px;
  min-height: 500px; 
  background-color:white; 
  margin-right: 10px;
}

#calendar {
  background-color: white;
  border-radius:15px;
  align-content: center;
}

#calendar td{ 
   color: black;
   width: 50px;
   height: 50px;
   font-size: 20px;
   /*border: 1px solid;
   border-color: black;*/
}


#main #schblock{
  padding: 20px;
  text-align: left;
  color:black;
  margin-top: 4%;
  margin-right:3%;
  background-color:#B5C7D3;
  border-radius: 15px;
}

#main #schblock #rvblock {
  padding: 15px;
  text-align: left;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
}

#main #schblock #rvblock td{
  padding: 5px;
}

.rvlink{
color: black;
}

#main #sidebar {
  min-height: 500px; 
  background-color: #97DBD2;
    margin-right: 10px;
}

#sidebar > ul{
  width: 100%;
  margin-top: 100px;
}
#sidebar > ul > li > a {
  display: block;
  color: #fff;
  padding: 10px 0 10px 0px;
}
#sidebar > ul > li > a.active {
  background-color: #F2E99B;
  color: black;
}
#sidebar > ul > li > a:hover:not(.active) {
  background-color: #555;
}
#sidebar > h1 {
  padding: 20px 0 20px 20px;
  color: #fff;
}

#footer {
  margin-top: 10px; 
  background-color: #b6bbbd;
}

input[id="isBooking"]{
position: relative;
top:2.4px;
margin-left: 5px;
}

#bookingTime{
font-size:9px;
margin:2%;
width: 90px;
}

#counselingCenter{
font-size:9px;
margin:2%;
width: 100px;
padding:1%;
}

/* ======== Calendar ======== */
.my-calendar {
width: 100%;
margin: 5% 20% 10% 0%;
padding: 0px 20px 10px 10px;
text-align: center;
font-weight: 800;
cursor: default;
}
.my-calendar .clicked-date {
border-radius: 25px;
float: left;
width: 42%;
padding: 40px 26px 50px 26px;
background: #B3EAF2;
}
.my-calendar .calendar-box {
float: right;
width: 58%;
padding-left: 30px;
margin-bottom: 1%;
}

.clicked-date .cal-day {
font-size: 24px;
}
.clicked-date .cal-date {
font-size: 130px;
}

.ctr-box {
padding: 0 16px;
margin-bottom: 20px;
font-size: 20px;
}
.ctr-box .btn-cal {
position: relative;
float: left;
width: 25px;
height: 25px;
margin-top: 5px;
font-size: 16px;
cursor: pointer;
border: none;
background: none;
}
.ctr-box .btn-cal:after {
content: '<';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
line-height: 25px;
font-weight: bold;
font-size: 20px;
}
.ctr-box .btn-cal.next {
float: right;
}
.ctr-box .btn-cal.next:after {
content: '>';
}

.cal-table {
width: 100%;
}
.cal-table th {
width: 14.2857%;
padding-bottom: 5px;
font-size: 16px;
font-weight: 900;
}
.cal-table td {
padding: 3px 0;
height: 50px;
font-size: 15px;
vertical-align: middle;
}
.cal-table td.day {
position: relative;
cursor: pointer;
}
.cal-table td.today {
background: #ffd255;
border-radius: 50%;
color: #fff;
}
.cal-table td.day-active {
background: #ff8585;
border-radius: 50%;
color: #fff;
}

.cal-table td.day-promise{
background:#4CAF50;
border-radius: 50%;
color: #fff;
}


.cal-table td.has-event:after {
/*content: ''; */
display: block;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 4px;
background: #FFC107;
}

#counselingSave{
font-size: 6px;
}

#counselingSave:hover{
cursor:pointer;
}

#tail{
margin-top: -5%;
}

/*움직이는 이미지*/
#imageMove{
margin-top: -3%;
position:absolute;
left:100px;
width:0px;
margin-left:0px;
background-color:#000;
color:#fff;
/* 애니메이션 이름 */
animation-name: imoticon;
animation-duration:14s;
animation-duration: leaner;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-fill-mode: forwards;

}

.play, .stop{
float:left;
margin-top:-3.5%;
cursor:pointer;
font-size:2px;
}



/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes imoticon {
0% {
  left:100px;
}
100% {
  left:70%;
}
}

/*추가함*/
.createDate {
position: absolute;
bottom: 7%;
right: 7%;
font-size: 20px;
color: #e4e4e4;
}




@media (max-width:750px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
  #main {
      display: block;    
  }

  #main #contents {  
    padding: 30px 0 10px 0;
      margin-bottom: 10px; 
      margin-right: 10px;
  }
  #main #sidebar {
      min-height: 0;
  }

  #sidebar > ul{
      width:100%;
      margin-top: 100px;
  }

  .clicked-date .cal-date {
    font-size: 80px;
  }

  #tail{
    margin-top: 0%;
    margin-right: 60%;
  }

  .my-calendar .clicked-date {
    padding: 100px 30px 100px 30px;
    margin-bottom: 5%;
  }

  .clicked-date .cal-day {
    font-size: 18px;
  }

  #imageMove{
    margin-top: -6%;}

    .play, .stop{
      margin-top:-6.5%;
    }
}
